/**
 * Comments
 */
.comment {
  border-top: 1px solid nth($greys, 3);
  margin-top: 0.692em;

  h3.comment-title {
    word-spacing: 0.2em;
    color: nth($greys, 5);
    margin-bottom: 0;

    a {
      word-spacing: normal;
    }
  }
  .permalink {
    font-size: 1.1538em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    line-height: 1.6875em;
  }
  .links {
    float: right;
  }
  .new {
    background-color: $light-yellow;
    padding: 1px 6px 2px;
  }
  .picture {
    float: right;
    margin: 0 0 1.5em 1.5em;
  }
}

.indented {
  margin-left: 30px;
}
.indented .indented .indented .indented {/* stop indenting comments after four levels of indention */
  margin-left: 0;
}

/* RTL stop indenting comments after four levels of indention */
[dir=rtl] .indented .indented .indented .indented {
  margin-right: 0;
}
