/**
 * Footer
 */
#footer {
  background-color: $pale-yellow;
  font-size: 0.92307em; /* 0.92307 * 13px = 12px */
  line-height: 1.5em;
  padding: 30px 0 20px;
  .container-12 {
    @media all and (max-width: 979px) {
    padding: 0 20px;
    }
  }
  .doormat ul {
    margin-top: 20px;
    &.drupal-news {
      margin-top: 0;
    }
    /*2 columns*/
    @media all and (min-width: 380px) and (max-width: 534px) {
      @include span-columns(5,10);
      &.community,
      &.download-extend { @include omega; }
      &.community { margin-top: 0; }
      &.about,
      &.get-started { clear: left; }
    }
    /*3 columns*/
    @media all and (min-width: 535px) and (max-width: 699px) {
      @include span-columns(4,12);
      &.get-started {
        @include omega;
        margin-top: 0;
      }
      &.download-extend { clear: left; }
      &.community { margin-top: 0; }
    }
    /*4 columns*/
    @media all and (min-width: 700px) and (max-width: 793px) {
      @include span-columns(3,12);
      &.download-extend { @include omega; }
      &.community { margin-top: 0; }
      &.get-started { margin-top: 0; }
      &.download-extend { margin-top: 0; }
      &.about { clear: left; }
    }
    /*Desktop 5 columns*/
    @media all and (min-width: 794px) {
      @include span-columns(2,10);
      &.about { @include omega; }
      margin-top: 0;
    }
  }
}

/* Footer links */
#footer-region li.first a {
  color: $body-text;
}
#footer-region a,
#footer-region li.first a:hover {
  color: $dark-blue;
}

/* Trademark block at the bottom */
.region-footer .block {
  border-top: 1px solid nth($greys, 6);
  margin-top: 50px;
  padding-top: 10px;
}
.region-footer .block .block-inner {
  color: $dark-grey;
  text-align: center;
}
