// Keep form elements on the baseline grid.
input[type="checkbox"],
input[type="radio"] {
  margin: 0 0.5ex;
}

.form-item,
.form-checkboxes,
.form-radios {
  margin: 0;
}

// Regular spacing between elements.
.form-wrapper,
.form-item-title,
.text-format-wrapper {
  margin-bottom: 0.692em;
  // No spacing at the bottom of containers, like fieldsets.
  &:last-child {
    margin-bottom: 0;
  }
}
.filter-wrapper {
  margin-bottom: 0;
}
.text-format-wrapper .description {
  margin: 0;
}

.form-checkboxes .form-item,
.form-radios .form-item {
  margin: 0.25em 0;
}
.form-item {
  label {
    font-weight: bold;
    &.option {
      font-weight: normal;
    }
  }
}

.description {
  color: darken($grey, 20%);
  font-size: 0.8125em;
}

input, textarea, select {
  margin: 0;
  // Limit width to inside parent containers.
  max-width: 100%;
}

// Make text inputs a little more aesthetically pleasing.
.form-text,
.form-textarea {
  border: 1px solid $grey;
  padding: 5px;
}
// Adjust autocomplete icon to match new positions.
html.js input.form-autocomplete {
  background-position: 99% 6px;
  &.throbbing {
    background-position: 99% -14px;
  }
}

// link button (green button)
a.link-button,
a.link-button:link,
a.link-button:visited,
a.link-button:active,
input[type="submit"],
button {
  color: $white;
  background-color: $button-background;
  @include background-image(linear-gradient(top, $button-background 50%, $lime-green 50%));
  border: 0;
  @include border-radius();
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.38461em;  // 1.38461 * 13 = 18px
  padding: 0 1em;
  overflow: hidden;
  text-align: center;
}

input[type="submit"] {
  @include border-radius(3px);
  font-size: 0.92307em;  // 1 * 0.92307 = 12px
  font-weight: bold;
  padding: 0.33em 1em;
}

input[type="submit"]:hover {
  cursor: pointer;
}

// Add margin when there are multiple buttons
input[type="submit"] + input[type="submit"]  {
  margin-left: 0.615384em;
}

a.link-button:focus,
a.link-button:active {
  outline: $black dotted thin;
}
a.link-button:hover {
  text-decoration: none;
}

.link-button span {
  cursor: pointer;
  display: inline-block;
  line-height: 36px;
}

input.default {
  color: nth($greys, 5);
}

// File upload fields
.form-managed-file .form-file {
  margin-right: 1em;
}

// Draggable tables of files


// Changed draggable rows (usually constains <span class="warning">)
tr.odd, tr.even {
  &.drag-previous {
    background: $light-yellow;
  }
}

form .field-multiple-table td.field-multiple-drag {
  width: 40px;
}

form .field-multiple-table td.field-multiple-drag a.tabledrag-handle {
  padding-right: 0;
}

tr.draggable span.warning {
  margin-left: 0;
}

.vertical-tabs fieldset.vertical-tabs-pane {
  padding: 0.692em 1em;
}

  /**
 * Improve form element usability on narrow devices.
 */
@media all and (max-width: $medium) {
  input[type="submit"] + input[type="submit"]  {
  margin-left: 0;
  }
  input.form-autocomplete,
  input.form-text,
  input.form-tel,
  input.form-email,
  input.form-url,
  input.form-search,
  input.form-number,
  input.form-color,
  input.form-file,
  textarea.form-textarea {
    @include box-sizing(border-box);
    width: 100%;
    font-size: 1.2em;
    line-height: 1.2em;
  }
  .form-select {
    @include box-sizing(border-box);
    width: 100%;
  }
  .form-text.form-autocomplete {
    height: 26px; // Should use em instead?
  }
  .form-actions input,
  .form-wrapper input[type="submit"],
  .page-project-issues .views-exposed-form .views-exposed-widget .form-submit {
    -webkit-appearance:none;
    float: none;
    margin-right: 0;
    margin-top: 10px;
    padding-bottom: 6px;
    padding-top: 6px;
    width: 100%;
    font-size: 1.2em;
    font-weight: normal;
  }
  #header input[type="submit"] {
    width: auto;
  }
  .exposed-filters .filters,
  .exposed-filters .form-item label,
  .exposed-filters .form-select {
    float: none;
    margin-bottom: 2px;
    width: 100%;
  }
  fieldset .fieldset-legend {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }
  .views-exposed-form .views-exposed-widget {
    float: none;
  }
}
