/**
 * Header
 */

#header {
  background-color: $header-background;
}
#header-right {
  height: 125px;
}
@media all and (min-width: 420px) {
  #header-right {
    height: 80px;
  }
  .page-home #header-right {
    height: auto;
  }
  #search-theme-form-advanced {
    position: relative;
  }
}
@media all and (min-width: 760px) {
  #header-right-inner {
    margin-top: 46px;
  }
  #header-left {
    @include span-columns(7);
    @include suffix(1);
  }

  #header-right {
    @include span-columns(5 omega);
    height: auto;
  }
}

#header-content {
  position: relative;
  z-index: 2;
  /* overflow: hidden; */ /* @todo: don't think we can do this here. it cuts off a few pixels of text on the left side */
}

/* Name and logo */
h1#site-name {
  margin: 0;
}

div#site-name {
  margin-bottom: 20px;
}
#site-name a {
  display: block;
  height: 63px;
  overflow: hidden;
  text-indent: -999em;
  width: 181px;
}
#site-name a:focus,
#site-name a:active {
  outline: $white dotted thin;
}

#header-left h2 {
  color: $header-text;
  font-size: 1.6153em; /* 1.6153 * 13px = 21px */
  font-weight: 200;
  margin: 24px 0 12px 0;
}
#header-left-inner a {
  color: $white;
}
