/* Creates a padded box for columns which mostly have lists, e.g. /start page */
@media all and (min-width: 916px) {
  .narrow-box {
    padding: 18px;
  }
}
.narrow-box {
  margin-bottom:18px;
}

.narrow-box ul {
  padding-left: 0!important;
}
.narrow-box ul li {
  list-style-type: none;
}

.narrow-box a.link-button {
  margin: 0;
}
.narrow-box a.link-button span {
  font-size: 0.92307em; /* 0.92307 * 13px = 12px */
  white-space: nowrap;
}

.narrow-box-list {
  margin-bottom: 1.5em;
}
