/**
 * Search help form
 */
#drupalorg-search-help-form {
  background-color: $pale-yellow;
  margin-bottom: 20px;
  padding: 20px 20px 15px 20px;
}

#drupalorg-search-help-form label {
  font-size: 1.61538em;  /* 1.61538 * 13 = 21px */
  font-weight: normal;
  margin: 0 0 1em 0;
}

#drupalorg-search-help-form .form-text {
  background: $white $icon-throbber 231px 8px no-repeat;
  border: 2px solid nth($greys, 9);
  color: nth($greys, 7);
  font-size: 1.61538em;  /* 1.61538 * 13 = 21px */
  height: 35px; /* for IE7 & 8 style consistency */
  margin: 0 0 5px 0;
  padding: 0 30px 0 5px;
  width: 221px; /* 221+30+5+2+2 = 260 */
}

#drupalorg-search-help-form .form-text.throbbing {
  background: $white $icon-throbber 231px -92px no-repeat;
}
