// Main search form
#header input[type="text"] {
  background-color: $white;
  border: 3px solid nth($blues, 1);
  color: $black;
  float: left;
  font-size: 1.07692em; // × 13 = 14px
  line-height: 1.4em;
  margin: 0 4px 0 0;
  *min-height: 18px; // Force IE7 to think properly about padding, ie8 understands border box so no prob
  padding: 10px 10px 10px 30px;
  width: 275px;
}

#header input[type="text"]::-webkit-input-placeholder {
  color: $darker-grey;
  font-size: 0.92857em; // × 14 = 13px
}
#header input[type="text"]:-moz-placeholder {
  color: $darker-grey;
  font-size: 0.92857em; // × 14 = 13px
}
#header input[type="text"]:-ms-input-placeholder {
  color: $darker-grey;
  font-size: 0.8em; // × 14 = 13px
}

#header input[type="text"]:focus {
  outline: nth($greys, 8) solid 2px;
}

// Move collapsible fieldset tiny arrow to right, always pointing down.
#header .fieldset-legend {
  background: url(../../../../../misc/menu-expanded.png) 100% 65% no-repeat;
  margin: 0 0.75em 0 0;
  padding: 0 0.5em 0 0;
}

// Header search button
#header input[type="submit"] {
  @include border-radius(5px);
  font-size: 1.4em;
  font-weight: normal;
  line-height: 1.4em;
  margin-top: 3px;
  padding: .33em 1em;
}

// Refine your search header form
#search-theme-form-advanced {
  display: none;
  width: 275px;
  position: absolute;
}

#search-theme-form-advanced fieldset {
  border: 0;
  line-height: 1.538461em;
  margin: 0;
  padding: 0;
}

html.js #search-theme-form-advanced {
  display: block;
}

#search-theme-form-advanced fieldset.collapsible .fieldset-wrapper {
  background-color: $dark-blue;
  padding: 2em 10px 10px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

#search-theme-form-advanced fieldset.collapsed .fieldset-wrapper {
  background-color: transparent;
}

#search-theme-form-advanced fieldset.collapsible .form-radios {
  border: 0;
  color: $white;
}

html.js #search-theme-form-advanced fieldset.collapsible .fieldset-wrapper {
  overflow: visible;
  float: left;
}

#search-theme-form-advanced legend {
  margin: 0;
  height: 1.538461em;
  line-height: 1.538461em;
}

#search-theme-form-advanced fieldset.collapsible legend {
  height: auto;
  position: absolute;
  left: 0;
  top: 4px;
}
@media all and (min-width: 760px) {
  #search-theme-form-advanced fieldset.collapsible legend {
    left: auto;
    right: 0;
  }
}
#search-theme-form-advanced fieldset.collapsible legend a {
  color: $black;
  text-decoration: none;
}

#search-theme-form-advanced fieldset.collapsible legend a:hover {
  text-decoration: underline;
}

#search-theme-form-advanced fieldset.collapsible legend a:focus {
  outline: none;
}

#search-theme-form-advanced .form-radios,
#search-theme-form-advanced .form-radios .form-item {
  margin: 0;
  float: left;
}

#search-theme-form-advanced .form-radios {
  padding-top: 0;
  width: 275px;
  position: relative;
}

#search-theme-form-advanced fieldset.collapsible .form-radios {
  width: 255px;
}

#search-theme-form-advanced .form-radios .form-item {
  min-height: 1.538461em;
  width: 135px;
}

#search-theme-form-advanced fieldset.collapsible .form-radios .form-item {
  font-size: 0.923076em;
  width: 127px;
}

#search-theme-form-advanced .form-radios .form-divider {
  float: left;
  width: 127px;
}

#search-theme-form-advanced .form-radios .form-item input {
  margin: 0;
}

#search-theme-form-advanced .form-radios label {
  color: $white;
}

#search-theme-form-submit {
  display: inline; // Fixes Chrome issue
  margin-top: 3px;
}
