// Search results page
.page-search h1 {
  background-color: $pale-yellow;
  color: nth($greys, 1);
  font-size: 1.38461em; // 1.38461 * 13 = 18px
  padding: 10px;
}

.page-search h1 em {
  font-style: normal;
  font-weight: bold;
}

// Override theme's ol
.search-results {
  padding-left: 0;
}

.search-results {
  .title {
    font-size: 1.231em; // override core search.css, resetting to match standard h3.
    margin: 0;
  }

  // Override core search
  .search-snippet-info {
    padding-left: 0;
  }
}

.search-results .search-info {
  color: $dark-grey;
  font-size: 0.92307em; // 0.92307 * 13px = 12px
}

// todo: check if this is needed
.search-results dd {
  padding-left: 0;
}
.search-results dt {
  font-size: 1em;
}

// todo: check where is this located
#edit-search-term-results p.help-result-text {
  font-weight: bold;
  margin-left: 10px;
}

#edit-search-term-results ul {
  list-style-type: none;
  margin: 0 0 5px 0;
  padding: 0;
}

#edit-search-term-results ul a {
  font-weight: bold;
}

#edit-search-term-results li .help-result-value {
  border-top: 1px solid nth($greys, 4);
  line-height: 2em;
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 10px;
}
