/**
 * User profiles
 */
@media all and (min-width: 694px) {
  #profile .profile {
    @include span-columns(4, 8)
  }

  .profile .main {
    @include span-columns(8);
  }

  .profile .aside {
    @include span-columns(4 omega);
  }

  #profile .profile:nth-child(even) {
    @include omega;
  }
}
@media all and (min-width: 451px) {
  .profile dl dt {
    @include span-columns(2, 8);
  }
  .profile dl dd {
    @include span-columns(6 omega, 8);
    float: left;
  }
  .profile .picture {
    float: right;
    margin-top: 6px;
  }

  // Membership badges
  .profile .da-membership-badge {
    @include span-columns(1,4);
  }

  .profile .da-membership {
    @include span-columns(3 omega,4);
  }
  .profile dt {
    clear: left;
    margin: 0 10px 0 0;
  }
}

.profile {
  clear: none;
  margin-top: 0;
  margin-bottom: 0.692em;
}
.profile.alpha {
  clear: left;
}
.profile h3 {
  border-bottom: none;
  clear: left;
}
.profile dl {
  margin: 0;
}

.profile dd {
  padding: 0;
  margin-bottom: 0.692em;
}
