////////////////////////
// Import Base Partial
////////////////////////

/**
 * @file
 * Debugging styles
 */

.show-grid {
  background-image: url(../images/12_col.gif);
}

.show-page {
  background-color: #FF00FF;
  background-image: url(../images/grid_count/page.jpg);
}

.show-front {
  background-color: #ff00ff;
  background-image: url(../images/grid_count/page-front.jpg);
}

.test {
  background-color: transparent;
  background-image: url('../images/grid_count/bg-50.png');
}

#page {
  background-image: url(../images/12_col.gif);
}
