@mixin header-font {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin content-font {
  font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

@mixin h2 {
  @include header-font;
  font-size: 1.538em; /* * 13px = 20px */
  font-weight: normal;
  line-height: 1.35em; /* * 20px = 27px */
  margin: 0 0 0.45em;
}

@mixin small-sprite {
  background-image: $sprite-small-icons;
  background-repeat: no-repeat;
}

@mixin plus-right-sprite {
  @include small-sprite;
  background-position: right -188px;
  padding-right: 18px;
}
