$about_tablet: 760px;
$about_desktop: 1024px;

// Middle section of the About page
.node-section {
  border-bottom: 1px solid nth($greys, 3);
  margin-bottom: 0.692em;
}

// Bottom section of the About page
.page-node-1 {
  .node-footer-section {
    @include breakpoint($about_desktop) {
      width: 940px;
    }
    h3 {
      margin: 1em 0 .5em;
    }
  }
}

.one-sidebar {
  #main {
    .content {
      .node-footer-section {
        .grid-4 {
          @include breakpoint($about_tablet) {
            @include span-columns(4);
          }
        }
      }
      .grid-4 {
        @include span-columns(12);
        @include breakpoint($about_tablet) {
          @include span-columns(6);
        }
        &.omega {
          @include omega();
        }
      }
    }
  }
}

.aboutsmall {
  color: nth($greys, 1);
  font-size: 0.92307em; // 0.92307 * 13px = 12px

  #content & {
    ul {
      list-style: none;
      margin-bottom: 1.5em;
      padding-left: 0;
    }
  }

  h3 {
    border-top: 1px solid nth($greys, 2);
    margin-top: 1em;
    padding-top: 1em;
  }

  dd {
    padding-left: 0;
  }

  strong,
  dt {
    color: nth($greys, 1);
  }

  .link-button {
    float: left;
    margin: 1em 0;
  }
}

// The Drupal.org style guide's "Colors" page.
.color-swatch {
  height: 6.923em;
}
