/**
 * Dashboard overrides
 */
#homebox .homebox-column {
  background: none;
  margin: 0;
  padding: 0;
}

#homebox .homebox-portlet {
  border: 0;
  margin: 0 0 20px;
}

#homebox .homebox-placeholder {
  margin: 0 0 14px;
}

#homebox .homebox-portlet .homebox-portlet-inner {
  background-color: $pale-yellow;
  border: 0;
}

#homebox .portlet-config {
  padding: 0 10px 10px;
}

#homebox .portlet-content {
  padding: 10px;
}

#homebox .homebox-portlet .portlet-header {
  background: none;
  font-size: 1.38461em;  /* 1.38461 * 13 = 18px */
  padding: 10px 10px 8px;
}

#homebox .homebox-portlet .portlet-minus,
#homebox .homebox-portlet .portlet-maximize {
  display: none;
}

#homebox .homebox-portlet .portlet-icon {
  margin-top: 4px;
  margin-left: 4px;
}

#homebox-buttons,
#homebox-add {
  margin-bottom: 10px;
}

#homebox-add a.restore {
  display: inline;
  height: auto;
  padding: 0;
  width: auto;
}

html.js #drupalorg-set-home-wrapper {
  label {
    @include plus-right-sprite;
    color: $lime-green;
    cursor: pointer;
  }

  /* Hide radio button and selected label. */
  input,
  input[checked] + label {
    display: none;
  }
}

@media all and (min-width: 760px) {
  #homebox .homebox-column-wrapper {
    @include span-columns(4);
  }
  #homebox .homebox-column-wrapper.homebox-column-wrapper-3 {
    @include span-columns(4 omega);
  }
}
@media all and (max-width: 760px) {
  #homebox .homebox-column-wrapper {
    width: 100%;
  }
  #homebox .homebox-column {
    /*
     * Homebox module calculates height of the columns with javascript.
     * See sites/all/modules/homebox/homebox.js Drupal.homebox.equalizeColumnsHeights
     * This adds unnecessary whitespace between columns when stacked.
    */
    height: 100% !important;
  }
}
