/**
 * Front page
 */

.front #page {
  margin-top: 1.385em;
}
#develop-with-drupal .logo {
  @include span-columns(1 , 4);
}
@media all and (min-width: 760px) {
  #front-drupal-stats {
    background: $sprite-general no-repeat 0 -537px;
    background-repeat: no-repeat;
    padding: 1.385em 0 0 64px;
  }
  #choose-drupal,
  #sites-with-drupal {
    @include span-columns(4);
  }
  /* Help build D8 block */
  #develop-with-drupal {
    @include span-columns(4 omega);
    .activities {
      .front-current-activity,
      .front-thisweek-activity {
        float: left;
        width: 130px;
        margin-right: 1.5em;
        display: inline;
      }
      .front-thisweek-activity {
        width: 146px;
        margin-right: 0;
      }
      ul {
        clear: left;
      }
    }
  }
  #stats-map {
    clear: both;
    @include clearfix;
  }

}
@media all and (min-width: 921px) {
  #community-map,
  #community-updates {
    @include span-columns(6);
    clear: none;
  }
  #community-updates {
    @include omega;
  }
  .homepage-map {
    margin-bottom: 1.846em;
  }
}
/* Get started buttons */
.front-get-started {
  border: 1px solid nth($greys, 2);
  border-width: 1px 0;
  padding: 20px 0;
  text-align: center;
}
#front-drupal-stats {
  margin-top: 1.846em;
  padding-bottom: 1.846em;
  line-height: 6.923461em; /* 72px */
}
/* Case studies block */
div.things-we-made-wrapper {
  margin: 0 0 1em 0;
}
div.things-we-made-wrapper a:first-child {
  display: block;
}
#sites-with-drupal h2 {
  font-size: 1.846em;
}
/* Help build D8 block */
#develop-with-drupal {
  .intro {
    background-color: $pale-yellow;
    margin-bottom: 1.5em;
    padding: 1em;
    overflow: hidden;
  }
}
/* Current activity block (number of modules etc.) */
@media all and (min-width: 541px) and (max-width: 760px) {
  #develop-with-drupal {
    @include clearfix;
    .front-current-activity,
    .front-thisweek-activity,
    ul.links {
      margin-bottom: 1.385em;
      @include span-columns(4);
    }
    ul.links {
      @include omega;
    }
  }
}

.front-current-activity,
.front-thisweek-activity {
   td {
    padding: 0;
    white-space: nowrap;
  }
  td:first-child {
    text-align: right;
    padding-right: 0.4em;
  }
  th {
    background: transparent;
    font-weight: normal;
    border-bottom: none;
    padding: 0;
  }
}

/* Links below current activity block */
.front #content ul {
  list-style: none;
  padding-left: 0;
}

/* X people in Y countries */
#front-drupal-stats .inner  {
  border-top: 1px solid $light-grey;
  color: $grey;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.846em; /* 13px = 24px */
  font-weight: 200;
  line-height: 1.5em;
  padding-top: 5px;
  text-align: center;
  @include breakpoint($medium) {
    padding-left: 16px;
  }
}
#front-drupal-stats em {
  font-style: normal;
  color: nth($greys, 10);
}

/* Text on the front page header */
.region-highlighted p { // formally .standfirst
  font-size: 1em;
  line-height: 1.538461em;
  padding-bottom: 1.538461em;
  margin-top: 0.5em;
  overflow: auto;
}

/* Search form */
#header .form-item-search-block-form label {
  color: $white;
  display: block;
  @include header-font;
  font-size: 1.61538em;  /* 1.61538 * 13 = 21px */
  font-weight: normal;
  margin: 0 0 .5em 0;
}

.front #search-theme-form-advanced {
  display: block;
  margin: 9px 0 0 3px;
  position: relative;
  @include breakpoint(max-width $medium) {
    margin-bottom: 10px;
  }
  .fieldset-legend {
    background: none;
  }
}
.front #header-right {
  height: auto;
}
