/**
 * /start page
 */

@media all and (min-width: 476px) and (max-width: 916px) {
  .get-started {
    &.download-drupal,
    &.extend-drupal,
    &.documentation,
    &.get-support {
      @include span-columns(6);
      position: relative;
    }
    &.extend-drupal,
    &.get-support {
      @include omega;
    }
    &.documentation {
      clear: right;
    }
  }

}

@media all and (min-width: 916px) {
  .get-started {
    &.download-drupal,
    &.extend-drupal,
    &.documentation,
    &.get-support {
      @include span-columns(3);
      position: relative;
      //@include post(0);
      //width: 25%;//Not sure how else to fix this - Lewis
      h2 {
        background: $sprite-gettingstarted no-repeat;
        width: 240px;
        height: 49px;
        padding: 12px 0 0 21px;
        max-height: 49px;
      }
    }
  }

  .get-started.get-support {
    @include omega;
    float: left;
    //width: 24.98%
  }

  .get-started.download-drupal h2 {
    color: nth($yellow-green, 5);
    &:before {
      content: '1 ';
    }
  }

  .get-started.extend-drupal h2 {
    background-position: 0 -49px;
    &:before {
      content: '2 ';
    }
  }

  .get-started.documentation h2 {
    background-position: 0 -98px;
    &:before {
      content: '3 ';
    }
  }

  .get-started.get-support h2 {
    background-position: 0 -147px;
    &:before {
      content: '4 ';
    }
  }
}


.get-started {
  &.download-drupal h2,
  &.extend-drupal h2,
  &.documentation h2,
  &.get-support h2 {
  /*  text-indent: 300%;*/
    font-size: 1.4em;
    white-space: nowrap;
    overflow: hidden;
    color: nth($blues, 3);
    position: relative;
    &:before {
      color: $white;
      padding-right: 10px;
    }
  }
}


#getting-started img {
  float: left;
}
