/* My issues */
.view-project-issue-user-issues-searchapi .project-title {
  font-weight: bold;
}

#homebox-block-views_1764f77afedbacb7539d78cc3f1d414f {
  .portlet-content {
    padding: 0;
  }
  td {
    padding: 0.25em 10px;
  }
  .more-link {
    padding: 0px 10px 10px 0px;
  }
}

/* My projects */
.view-project-issue-user-projects caption {
  @include h2;
}
