/**
 * Comments on issue pages
 */

.node-type-project-issue #content .comment .submitted {
  margin-bottom: 0.75em;

  a {
    font-size: 1.2307em;
  }
}

/* Issue changes table */
.field-name-field-issue-changes table {
  border: 1px solid $light-grey;
  color: $light-black;
  font-size: 0.9em;

  tr.even {
    background: none;
    border: none;
  }

  td {
    padding: 0 1em;
  }
}
