/**
 * Marketplace
 */
/* Organization node layout */
.node-organization {
  @media all and (min-width: 540px) {
    .intro {
      @include span-columns(3);
    }

    .main {
      @include span-columns(5);
    }

    .aside {
      @include span-columns(4 omega);
    }
  }
}

.node-organization.node-teaser, .view-drupalorg-training  {
  @media all and (min-width: 540px) {
    .intro {
      @include span-columns(3,8);
    }

    .main {
      @include span-columns(5 omega,8);
    }
  }
}


/* Services view */
.view-drupalorg-organizations .view-header {
  @media all and (min-width: 540px) {
    .nav {
      @include span-columns(3, 3);
    }

    .nav-column {
      @include span-columns(1, 3);
      &:last-child {
        @include omega;
      }
    }
  }

  h3 {
    margin-top: 0;
  }
}

#content .view-drupalorg-organizations .view-header ul {
  padding-left: 0;
  list-style-type: none;
}
/* hide JS actions */
.view-drupalorg-organizations .view-header .show-link,
.view-drupalorg-organizations .view-header .hide-link {
  display: none;
}
.node-organization .website img {
  display: block;
}

#content .node-organization dd {
  padding-left: 0;
}

/* Training view */
.view-drupalorg-training {

  .views-row {
    @include span-columns(8 omega, 8);
    margin-bottom: 1.385em;
  }
}

/* Sidebar navigation */
@mixin marketplace-big-arrow-list {
  ul.menu {
    list-style: none;
    padding: 0;
  }

  li.leaf {
    margin: 0;
    margin-bottom: 9px;
    list-style: none;

    @media all and (min-width: 760px) {
      margin-left: -15px;
    }

    a {
      display: block;
      padding: 0 12px 0 30px;
      line-height: 36px;
      color: $body-text;
      background-color: $light-grey;
      border-radius: 5px;
      /* Add a left arrow for wider screens. */
      @media all and (min-width: 760px) {
        background-image: $arrow-mask;
        background-position: 0 0;
        background-repeat: no-repeat;
        border-radius: 0 5px 5px 0;
      }

      &:hover, &:focus {
        background-color: nth($greys, 13);
        text-decoration: none;
      }

      &.active, &.active:hover, &.active:focus {
        color: $white;
        background: $button-background;
        background: -moz-linear-gradient(top, $menu-gradient-top 0%, $menu-gradient-top 49%, $button-background 50%, $button-background 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$menu-gradient-top), color-stop(49%,$menu-gradient-top), color-stop(50%,$button-background), color-stop(100%,$button-background));
        background: -webkit-linear-gradient(top, $menu-gradient-top 0%,$menu-gradient-top 49%,$menu-gradient-down 50%,$menu-gradient-down 100%);
        background: -o-linear-gradient(top, $menu-gradient-top 0%,$menu-gradient-top 49%,$menu-gradient-down 50%,$menu-gradient-down 100%);
        background: -ms-linear-gradient(top, $menu-gradient-top 0%,$menu-gradient-top 49%,$menu-gradient-down 50%,$menu-gradient-down 100%);
        background: linear-gradient(top, $menu-gradient-top 0%,$menu-gradient-top 49%,$menu-gradient-down 50%,$menu-gradient-down 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0c720', endColorstr='#97bd1f',GradientType=0 );

        @media all and (min-width: 760px) {
          background-color: $button-background;
          background: $arrow-mask no-repeat 0 0, $button-background;
          background: $arrow-mask no-repeat 0 0, -moz-linear-gradient(top, $menu-gradient-top 0%, $menu-gradient-top 49%, $button-background 50%, $button-background 100%);
          background: $arrow-mask no-repeat 0 0, -webkit-gradient(linear, left top, left bottom, color-stop(0%,$menu-gradient-top), color-stop(49%,$menu-gradient-top), color-stop(50%,$button-background), color-stop(100%,$button-background));
          background: $arrow-mask no-repeat 0 0, -webkit-linear-gradient(top, $menu-gradient-top 0%,$menu-gradient-top 49%,$menu-gradient-down 50%,$menu-gradient-down 100%);
          background: $arrow-mask no-repeat 0 0, -o-linear-gradient(top, $menu-gradient-top 0%,$menu-gradient-top 49%,$menu-gradient-down 50%,$menu-gradient-down 100%);
          background: $arrow-mask no-repeat 0 0, -ms-linear-gradient(top, $menu-gradient-top 0%,$menu-gradient-top 49%,$menu-gradient-down 50%,$menu-gradient-down 100%);
          background: $arrow-mask no-repeat 0 0, linear-gradient(top, $menu-gradient-top 0%,$menu-gradient-top 49%,$menu-gradient-down 50%,$menu-gradient-down 100%);
        }
      }
    }
  }
}

#block-menu-menu-hosting-types-menu , #marketplace-services-quicknav {
  @include marketplace-big-arrow-list;
}

#aside,
#sidebar-first {
  #block-block-40,
  #block-block-42,
  #block-block-46,
  #block-block-62,
  #block-menu-menu-hosting-types-menu,
  #marketplace-services-quicknav {
    background-color: $white;
  }

  #block-block-60 {
    background-color: $white;
    border-bottom: 1px solid nth($greys, 2);
  }
}

#aside #block-views-drupalorg-training-block-1,
#sidebar-first #block-views-drupalorg-training-block-1 {
  background-color: $white;

  ul.views-summary li {
    line-height: 1.5em;

    a {
      padding: 0.153846em 0.384615em 0.230769em 1em;
    }

    a.active, a:hover, a:focus {
      background-color: $dark-grey;
      color: $white;
      text-decoration: none;
    }
  }
}
