/*
 News page
#block-drupalorg_news-news-terms .block-inner {
  padding-left: 3px;
}
#block-drupalorg_news-news-terms.block {
  background-color: $white;
}
#block-drupalorg_news-news-terms h2 {
  margin-bottom: .5em;
}
#block-drupalorg_news-news-terms ul.links {
  margin-left: -10px;
}
#block-drupalorg_news-news-terms ul.links li {
  display: list-item;
  margin-bottom: 4px;
}
*/
