/**
 * Project listings
 */
#project-overview .project {
  border-bottom: 1px solid nth($greys, 4);
  margin-bottom: 20px;
  padding-bottom: 20px;
}

#project-overview .image-attach-teaser {
  float: right;
  margin: 0 0 20px 20px;
}

#project-overview .image-attach-teaser img {
  border: 1px solid $grey;
  display: block;
}

#project-overview ul.project-meta li {
  color: $dark-grey;
  font-size: 0.92307em; /* 0.92307 * 13px = 12px */
  margin-bottom: 0;
}

#project-overview .links {
  font-size: 1em; /* Override project default */
}

/* Prevent unordered and ordered lists from wrapping images */
#content #project-overview .project ul,
#content #project-overview .project ol {
  overflow: auto;
}
