/**
 * Project page sidebar blocks
 */

/* Issue cockpit block */
form#project-issue-issue-cockpit-searchbox {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

form#project-issue-issue-cockpit-searchbox .form-item {
  float: left;
  margin: 2px 10px 0.5em 0;
}

form#project-issue-issue-cockpit-searchbox a {
  clear: left;
  display: block;
}

/* header styling */
#block-project-issue-issue-cockpit .category-header,
#homebox-block-project_issue_issue_cockpit-2 .category-header {
  color: nth($greys, 1);
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2307em;  /* 1.2307 * 13px = 16px */
  font-weight: normal;
  margin-top: 0.5em;
}

.issue-cockpit-bug, 
.issue-cockpit-statistics {
  margin-bottom: 0.5em;
}

.issue-cockpit-oldest {
  color: nth($greys, 5);
}

/* Maintainers block */
#block-versioncontrol-project-project-maintainers {
  div.vc-commit-times {
    color: $dark-grey;
    font-size: 0.92307em; /* 0.92307 * 13px = 12px */
    margin-bottom: 0.5em;
  }

  span.vc-commits {
    white-space: nowrap;
  }
}
